<h1 class="p-3">Stupid Coach</h1>


<p class="bg-light p-3 "><%=params[:question]%> -You</p>
<p class="bg-light p-3"><%=@answer%> -Coach</p>

 <%= link_to "Ask another question", ask_path, class:"btn btn-primary p-3"%>
